body, h1, h2, h3, h4, h5, h6, p, div {
  font-weight: 300;
}

.brand-logo,
.nav-wrapper>ul {
  height: inherit;
}

.brand-logo img {
  height: 64px;
}

nav.main-navigation {
  padding-right: 15px;
}

nav.main-navigation .profile-dropdown ul li {
  width: 100%;
}

/* Main content */
.main-content {
  width: 100%;
  padding: 2rem;
}
/* Main content END */

/* Helpers */
.bold {
  font-weight: bold;
}

.w300 {
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.content-center {
  display: flex;
  justify-content: center;
}
/* Helpers END */
